*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes logoMove {
    0%{
        transform: translateX(150%) scale(2);
        opacity: 0;
    }
    10%{
        transform: translateX(150%) scale(1.7);
    }
    30%{
        transform: translateX(150%) scale(1.7);
        opacity: 1;
    }
    80%{
        transform: translateX(150%) scale(1.7);
    }
    100%{
        transform: translateX(0) translateY(0);

    }
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* НАЧАЛО ШАПКИ */
body{
    background: url(img/bg-light-4866.png);
}
header{
    background: url(img/pexels-julia-filirovska-4913788.jpg) ;
    background-size:cover ;
}
.menu{ 
    vertical-align: middle;
    padding: 15px 25px;
    padding-bottom: 25px;
    background: rgba(139, 166, 201, 0.796);
    border-radius: 0 0 20px 20px ;
    display: flex;
    width: 88%;
    margin: 0 auto;
    font-size: 2.3vh;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.menu1{
    margin: 0 auto;
    padding: 0px 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.menu1 .fl{
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 10px;
    transition: 0.2s;
}
.menu1 .fb{
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: default;
    
}
.menu1 .fl:hover{
    background: rgb(255, 255, 255);
    padding: 5px 15px;
    color: #000;
    border-radius: 20px;

}
.menu2{
    display: flex;
    width: 35%;
    justify-content: flex-end;
    padding-right: 30px;
}
.menu2 a{
    color: #fff;
    text-decoration: none;
}
.menu2 a img{
    width: 25px;
    vertical-align: middle;
    padding: 0px 3px;
}
.wrapper1{
    display: flex;
    width: 85%;
    margin: 15px auto;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.wp1{
    height: 100px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    color: white;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp11{
    width: 390px;
    height: 100px;
    
}
.wp11 img{
    height: 100px ;
    width: 390px;
    object-fit: cover;
    animation-name: logoMove;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;

}

.wp22 img{
    width: 30px;
    position: absolute;
    top: 34px;
    right: 10px;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp-img{
    position: relative;
}
.wp-Search{
    margin: 30px 0;
    min-width: 500px;
    height: 40px;
    border: 2px solid #cccccc;
    border-radius: 7px;
    padding: 0px 10px;
    font-size: 2.2vh;
    color: #000;
    vertical-align: middle;
    opacity: 0.8;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp4{
    text-align: center;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp4 p{
    font-size: 4vh;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.768);
}
.wp4{
    font-size: 1.5vh;
}
.wp4 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.59);
    font-weight: 700;
}
.wp5 img{
    margin: 20px 10px;
    width: 20%;
}
.wrapper2-2{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.3vh;
    width: 88%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    padding: 20px 20px;
    background: rgba(139, 166, 201, 0.796);
    margin-top: 30px;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp2-2 a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1vw;
}
.wp2-2 a:hover{
    color: #000;
}
.wp2-2 img{
    vertical-align: middle;
    max-width: 3.5vw;
    min-width: 50px;
    padding: 0 10px;
}
/* КОНЕЦ ШАПКИ */
/* НАЧАЛО СЛАЙДЕРА */
.back1{
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(to top, #eeeeee, #f2f2f2, #f6f6f6, #fbfbfb, #ffffff);
    width: 100%;
}
.Blok-2{
    display: flex;
    width: 88%;
    margin: 0 auto;
}
.box1-1{
    width: 70%;
    border: 2px solid #cccccc;
    border-radius: 0 0 0 10px;
    margin: 0 auto;
    background: #EEEEEE;
    
}
.box1-1-2{
    text-align: center;
    background: url(img/pexels-brett-sayles-2881229.jpg);
    border-radius:  0 0 0 10px ;
    width: 100%;
    height: 55vh;
    background-size: cover;
}
.box1-2{
    width: 39%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 50px ;
}
.box1-2 p{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 80%;
    font-size: 4.5vh;
    border-bottom: 3px solid #cccccc;
    overflow: hidden;
}
.box1-2 a{
    font-size: 2.5vh;

}
.box1-2 img{
    float: left;
    width: 60px;
    margin: 0 20px;
}
.box1-2-2{
    display: flex;
    flex-direction: column;
}
.box1-2-2 div{
    padding-bottom: 20px;
    padding-left: 20px;
}
/* КОНЕЦ СЛАЙДЕРА */
/* НАЧАЛО "РЕШЕНИЙ" */
.block-3{
    display: flex;
    width: 88%;
    margin: 50px auto;
     animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wrapper3{
    width: 30%;
    justify-content: center;
}
.wrapper3 div{
    text-align: center;
}
.wrapper3 p{
    background: rgba(176, 58, 182, 0.22);
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    border-radius: 30px;
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
}
.wrapper3 .photo{
    border: 2px solid #cccccc;
    height: 350px ;
    width: 450px;
    margin: 40px auto;
    background: url(img/pexels-pixabay-221024.jpg);
    border-radius: 10px;
    background-size: cover;

}
.wrapper3 .button1{
    text-align: center;
    padding: 20px 60px ;
    background: rgba(176, 58, 182, 0.583);
    text-decoration: none;
    font-size: 2.5vh;
    border-radius: 40px;
    color: rgb(255, 255, 255);
}
.wrapper3 .button{
    padding: 30px 0;
    
}
.button a{
    border-radius: 40px;

    transition: 0.2s;
}
.button a:hover{
    background: rgba(86, 150, 209, 0.801);
    color: rgb(255, 255, 255);
    border-radius: 40px;

}
.wrapper4{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    justify-content: space-around;
}
.boxer1{
    background: url(img/box1.jpg);
    background-size: cover;
}
.boxer2{
    background: url(img/box2.jpg);
    background-size: cover;
    background-position:center;
}
.boxer3{
    background: url(img/box3.jpg);
    background-size: cover;
}
.boxer4{
    background: url(img/box4.jpg);
    background-size: cover;
}
.boxer5{
    background: url(img/box5.jpg);
    background-size: cover;
}
.boxer6{
    background: url(img/box6.jpg);
    background-size: cover;
}
.box1-3{
    min-width: 290px;
    width: 29%;
    border: 2px solid #cccccc;
    padding: 10px 20px; 
    margin: 20px ;
    border-radius: 10px;
}

.box1-3 .text1{
    text-decoration: none;
    color: #000;
    font-size: 3vh;
    font-weight: 900;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.604);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}
.box1-3 .text2 ul li{
    padding: 20px;
}
.text2-3{
    background: rgba(255, 255, 255, 0.508);
    padding: 10px;
    text-decoration: none;
    list-style-type:none;
    border-radius: 10px;
}
.text2-3 li{
    padding-bottom: 10px;
}
.box1-3 .text2{
    font-size: 2.5vh;
    font-weight: 300;
} 
.box1-3 a{
    font-size: 2.5vh;
    font-weight: 600;
    text-decoration: none;
    float: right;
    color: #fff;
    padding:  8px 20px;
    margin-top: 10px;
    border-radius: 18px;
    background: rgba(176, 58, 182, 0.761);
    transition: 0.2s;
}
.box1-3 a:hover{
    background: rgba(255, 255, 255, 0.761);
    color: rgb(0, 0, 0);
    transform: scale(1.02);
}
/* КОНЕЦ "РЕШЕНИЙ" */

.show_all{
    float: right;
    font-size: 2.5vh;
    vertical-align: middle;
    margin: 40px auto;
}
.show_all a{
    color: #fff;
    text-decoration: none;
    padding:  20px 30px;
    background:rgba(176, 58, 182, 0.761) ;
    border-radius: 40px;
    transition: 0.2s;
}
.show_all a:hover{
    background: rgba(255, 255, 255, 0.761);
    color: rgb(0, 0, 0);
    border: 2px solid rgba(176, 58, 182, 0.548);
    transform: scale(1.02);
}
/* НАЧАЛО 4 КОНТЕЙНЕРОВ */

.container_3{
    width: 100%;
    display: flex;
}
.box_container{
    width: 80%;
    margin: 20px auto;
    padding-top: 30px;
}
.text_3{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.tx1 p{
    font-size: 4.5vh;
    font-weight: bold;
}
.tx1 a{
    font-size: 2.5vh;
    color: #000;
    padding-top: 15px;
    margin-left: 50px;
    font-weight: 900;
}
.tx1{
    display: flex;
    width: 100%;
    vertical-align: middle;
    padding: 10px;
}
.section_1{
    overflow: hidden;
    margin: 0 20px;
    padding: 0;
    width: 300px;
    background: #f3f3f3;
    border: 1px solid #cccccc;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s;
}
.section_1 img{
    background: #F0F0F0;
    height: 250px;
    width: 100%;
    overflow: hidden;
}
.section_box{
    background: #f3f3f3;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.section_box h2{
    font-size: 2.5vh;
}
.p1_class{
    font-size: 2.2vh;
}
.p_class{
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-size: 2.8vh;
    font-weight: bold;
}
.section_box a{
    width: 70%;
    text-align: center;
    padding: 8px 20px;
    margin: 20px auto;
    border-radius: 30px;
    background: rgba(176, 58, 182, 0.761);
    font-size: 2.3vh;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}
.section_box a:hover{
    transform: scale(1.1);
    background: #c0d1db;
    color: rgb(0, 0, 0);
}
.section_1:hover{
    transform: scale(1.03);
    border: 1px solid rgba(176, 58, 182, 0.761);
    border-radius: 20px;
}
.flex_container{
    padding: 40px 0;
    display: flex;
    margin: 0 auto;
    width: 88%;
    align-items: stretch;
}

/* КОНЕЦ 4 КОНТЕЙНЕРОВ */
/* НАЧАЛО НОМЕРА */

.phone_contact{
    width: 100%;
    display: flex;
    background: rgba(91, 137, 197, 0.796);
    padding-top: 40px ;
    margin: 0 auto;
}
.phone1{
    width: 40%;
    text-align: center;
    font-size: 3vh;
    margin-bottom: auto;
}
.phone1 h2{
    margin-bottom: 20px;
    font-weight: 400;
}
.phone1 h3{
    font-size: 7vh;
    font-weight: 300;
}
.phone2{
    width: 70%;
    font-size: 3vh;
    text-align: center;
}
.phone2 div{
    margin-bottom: 20px;
}
.input_phones{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input_phones from input{
    color: #EEEEEE ;
}
.input1{
    padding: 3px 0;
    padding-left: 20px;
    padding-right: 30px;
    margin: 20px 10px;
    border-radius: 7px;
    border: 2px solid #C0C0C0;
    font-size: 2.7vh;
    background: #EEEEEE;
}
.input2{
    padding: 3px 80px;
    background: #EEEEEE;
    margin: auto 10px;
    border-radius: 10px;
    border: 2px solid #C0C0C0;
    font-size: 2.7vh;
    cursor: pointer;
}
.xphone{
    font-size: 2vh;
    margin-top: 30px ;
}
.xphone input{
    transform: scale(1.5);
    margin: 0 10px ;
}

/* КОНЕЦ НОМЕРА */
/* НАЧАЛО КАК МЫ РАБОТАЕМ */

.wrapper_work{
    margin: 30px auto;
}
.wpw1 h2{
    margin: 30px 0;
    text-align: center;
    font-size: 5vh;
    font-weight: 200;
}
.wpw2{
    width: 78%;
    margin: 30px auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.wpw2 img{
    object-fit: cover;
    background: #F0F0F0 ;
    border-radius: 10px;
    box-shadow: rgb(155, 150, 228) 5px 5px 50px 10px;
    width: 130px;
    height: 130px;
    justify-items: center;
}
.wpw2_box{
    margin: 0 auto;
    width: 20%;
}
.wpw2_box p{
    margin-top: 15px;
    font-size: 2.3vh;
    font-weight: 300;
}

/* КОНЕЦ КАК МЫ РАБОТАЕМ */
/* НАЧАЛО ПОПУЛЯРНЫХ ТОВАРОВ */

.container_4 {
    width: 100%;
    display: flex;
    background: #F0F0F0;
}
.box_container_4 {
    width: 90%;
    margin: 20px auto;
    padding-top: 0px;

}
.text_4 {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
}
.tx4 p {
    font-size: 4.5vh;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
.tx4 {
    display: flex;
    width: 100%;
    vertical-align: middle;
    padding-bottom: 10px;
    text-align:center;
}
.section_4 {
    overflow: hidden;
    margin: 0 20px;
    padding: 0;
    width: 300px;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 5px 5px 20px 20px;
    transition: 0.2s;
}
.section_4:hover{
    transform: scale(1.03);
    border: 1px solid rgba(176, 58, 182, 0.761);
    border-radius: 20px;
}
.section_4 img {
    background: #F0F0F0;
    width: 100%;
    overflow: hidden;
}
.section_box_4 {
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.section_box h2 {
    font-size: 2.5vh;
}
.p1_class_4 {
    font-size: 2.2vh;
}
.p_class_4 {
    padding: 5px;
    font-size: 2.8vh;
    font-weight: bold;
}
.section_box_4 a {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: 2.5vh;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 0px;
    background:rgba(176, 58, 182, 0.761);
    border-radius: 50px;
    transition: 0.3s;
}
.section_box_4 a:hover{
    transform: scale(1.1);
    background: #00a2ff;
    color: rgb(255, 255, 255);

}

.flex_container_4 {
    padding: 40px 0;
    display: flex;
    margin: 0 auto;
    width: 88%;
}

/* КОНЕЦ ПОПУЛЯРНЫХ ТОВАРОВ */
/* НАЧАЛО НОВОСТЕЙ */

.wrapper_news {
    display:flex;
    width:100%;
    background-image: linear-gradient(to left bottom, #fdcfff59, #e9baf763, #d1a6f04d, #b793ea52, #9882e5, #8a79e256, #7b70e056, #6d67dd59, #7262db4f, #7a5cd9, #8156d748, #894fd48c);
    margin-bottom: 20px;
}
.news_box1 {
    width:37%;
    border-right:3px solid;
}
.box_nn {
    width:75%;
    float:right;
    margin:10px 0;
    margin-right:30px;
}
.box_nn h2{
    font-size:3.5vh;
    background: rgba(255, 255, 255, 0.363);
    border-radius: 10px ;
    padding: 5px 10px;
}
.box_nn p:nth-child(2n){
    font-size:1.5vh;
}
.box_nn p:nth-child(3n) {
    font-size:2.3vh;
}
.box_nn a{
    font-size: 2.6vh;
    text-align:right;
    float:right;
    color:#000;
    text-decoration: none;
    padding: 7px 20px ;
    background: rgba(109, 138, 177, 0.796);
    border-radius: 20px;
    transition: 0.2s;
}
.box_nn a:hover{
    background: rgba(255, 255, 255, 0.514);
    transform: scale(1.05);
}
.box_h2 h2{
    font-size: 5vh;
    background: rgba(166, 179, 255, 0.514);
    border-radius: 10px ;
    padding: 5px 10px;
}
.news_box3{
    width: 63%;
    padding:20px;
}
.news_box3 h2{
    font-size:5vh;
    margin-bottom:20px;
    background: rgba(166, 179, 255, 0.514);
    border-radius: 10px ;
    padding: 5px 10px;
}

/*КОПИРОВАННЫЙ БОКС*/

.box_container_5 {
    width: 90%;
    margin: 20px auto;
    padding-top: 0px;
    padding:0 10px;
}
.section_5 {
    overflow: hidden;
    padding: 0 10px;
    width: 320px;
    text-align: center;
}
.section_5 img {
    background: #F0F0F0;
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.section_box_5 {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}
.section_box_5 h2 {
    font-size: 2.5vh;
    text-align:left;
    margin: 10px 0;
}
.p_class_5 {
    padding: 5px;
    font-size: 2.2vh;
    text-align:left;
    font-weight: 300;
}
.flex_container_5 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 88%;
}
/*КОНЕЦ НОВОСТЕЙ*/
/*НАЧАЛО ЗАКАЖИТЕ ПО НОМЕРУ*/
.wp5{
    text-align: center;
    color: #000;
}
/* КОНЕЦ ЗАКАЖИТЕ ПО НОМЕРУ */

/*начало о компании*/


.company_container{
    width: 88%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    border-top: 2px solid #cccccc;
}

.company_box{
    margin: 20px 20px;
}
.company_box h2{
    padding: 10px 0;
    font-size: 4vh;
    text-align: left;
    font-weight: 300;
}
.company_box li ::before{
    content: "★";
    padding-right: 10px;
}
.company_box li{
    padding: 5px 0;
    font-size: 2.3vh;
    margin-left: 30px;
    color: black;
    list-style: none;

}
.company_box a{
    color: black;
    text-decoration: none;
    transition: background 0.2s, padding 0.2s, border-radius 0.2s;
    padding: 10px 10px;

}
.company_box a:hover{
    
    background: rgba(166, 179, 255, 0.849);
    padding: 10px 10px;
    border-radius: 20px;
    
}
/*конец о компании */

footer {
    background: rgba(139, 166, 201, 0.796);
    border-radius: 20px 20px 0px 0px;
    padding: 35px 90px;
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0px auto;
    margin-top: 50px;
    font-size: 2.5vh;
    color: black;
    margin-bottom: -20px;
}
.end_2 a{
    color: black;
    text-decoration: none;
}
@media (max-width: 1600px){
    .wrapper1{
        display: none;
    }
    header, .menu, .wrapper2-2{
        width: 100%;
    }
    .back1{
        display: none;
    }
    .box1-2{
        margin: 0 auto;
        width: 100%;
    }
    .wrapper3{
        display: none;
    }
    .phone2{
        width: 90%;
    }
    .phone1{
        font-size: 2vh;
    }
    .phone1 h3{
        font-size: 5vh;
    }
    .wrapper_work,.company_container, .wpw2, .flex_container_4, .box_container,.container_3,.wrapper4{
        width: 100%;
    }
}
@media (max-width: 1400px){
    .wrapper_news{
        display: none;
    }
    .wrapper4{
        flex-wrap: wrap;
    }
    .flex_container, .flex_container_4{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
   .section_4, .section_1{
       margin: 20px ;
   }
   .company_box h2{
       font-size: 3vh;
   }
   .company_box ul li{
        font-size: 2vh;
        padding: 0;
        margin: 0;
    }
    .company_box{
        padding: 0 ;
    }
    .company_container,.wpw2{
        flex-wrap: wrap;
    }
}
@media (max-width: 1000px){
    .menu{
        width: 100%;
    }

}