*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes opacity1 {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* НАЧАЛО ШАПКИ */
body{
    background: url(img/bg-light-4866.png);
}
header{
    background: url(img/bg-light-4866.png) ;
    background-size:cover ;
    background-attachment: fixed;
}
.menu{ 
    vertical-align: middle;
    padding: 15px 25px;
    padding-bottom: 25px;
    background: rgba(139, 166, 201, 0.796);
    border-radius: 0 0 10px 10px ;
    display: flex;
    width: 88%;
    margin: 0 auto;
    font-size: 2.3vh;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.menu1{
    margin: 0 auto;
    padding: 0px 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.menu1 .fl{
    color: #fff;
    min-width: 170px;
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 15pt;
}
.menu1 .fb{
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: default;
    
}
.menu1 .fl:hover{
    background: rgb(255, 255, 255);
    padding: 5px 15px;
    color: #000;
    border-radius: 10px;

}
.menu2{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    padding-right: 30px;
}
.menu2 a{
    color: #fff;
    text-decoration: none;
    font-size: 15pt;
}
.menu2 a img{
    width: 25px;
    vertical-align: middle;
    padding: 0px 3px;
}
.wrapper1{
    display: flex;
    width: 85%;
    margin: 15px auto;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.wp1{
    height: 100px;
    padding: 10px;
    text-align: center;
    font-size: 29pt;
    vertical-align: middle;
    color: white;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp11{
    width: 390px;
    height: 100px;
    
}
.wp11 img{
    height: 100px ;
    width: 390px;
    object-fit: cover;
    animation-name: logoMove;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;

}

.wp22 img{
    width: 30px;
    position: absolute;
    top: 34px;
    right: 10px;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp-img{
    position: relative;
}
.wp-Search{
    margin: 30px 0;
    min-width: 500px;
    height: 40px;
    border: 2px solid #cccccc;
    border-radius: 7px;
    padding: 0px 10px;
    font-size: 2.2vh;
    color: #000;
    vertical-align: middle;
    opacity: 0.8;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp4{
    text-align: center;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

}
.wp4 p{
    font-size: 6vh;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.768);
}
.wp4{
    font-size: 1.5vh;
}
.wp4 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.59);
    font-weight: 700;
}
.wp5 img{
    margin: 20px 10px;
    width: 20%;
}
.wrapper2-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.3vh;
    width: 88%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    padding: 20px 20px;
    background: rgba(139, 166, 201, 0.796);
    margin-top: 30px;
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wp2-2 a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1vw;
    transition: color .2s;
}
.wp2-2{
    padding: 10px;
    transition: background .2s, border-radius .2s;
}
.wp2-2:hover a{
    color: black;
}
.wp2-2:hover{
    background: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
}
.wp2-2 img{
    vertical-align: middle;
    max-width: 3.5vw;
    min-width: 50px;
    padding: 0 10px;
}
/* КОНЕЦ ШАПКИ */
/* НАЧАЛО СЛАЙДЕРА */
.back1{
    animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(to top, #eeeeee9f, #f2f2f27a, #f6f6f688, #fbfbfb80, #ffffff7c);
    width: 100%;
}
.Blok-2{
    display: flex;
    width: 88%;
    margin: 0 auto;
}
.box1-1{
    width: 70%;
    border-radius: 0 0 0 10px;
    margin: 0 auto;
    max-height: 500px;
    background: #EEEEEE;
    overflow: hidden;
}
.box1-1-2{
    width: 100%;
    max-height: 500px;
    
}
.box__img{
    width: 100%;
    object-fit: cover;
}
.box1-2{
    width: 39%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 50px ;
}
.box1-2 p{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 60%;
    padding-bottom: 10px;
    font-size: 4.5vh;
    border-bottom: 2px solid rgba(139, 166, 201, 0.796);
    overflow: hidden;
}
.box1-2 a{
    font-size: 2.5vh;

}
.box1-2 img{
    float: left;
    width: 60px;
    margin: 0 20px;
}
.box1-2-2{
    display: flex;
    flex-direction: column;
}
.box1-2-2 div{
    padding-bottom: 20px;
    padding-left: 20px;
}
/* КОНЕЦ СЛАЙДЕРА */
/* НАЧАЛО "РЕШЕНИЙ" */
.block-3{
    display: flex;
    width: 88%;
    margin: 50px auto;
     animation-name: opacity;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wrapper3{
    width: 30%;
    justify-content: center;
}
.wrapper3 div{
    text-align: center;
}
.wrapper3 p{
    background: rgba(139, 166, 201, 0.796);
    color: white;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
}
.wrapper3 .photo{
    border: 2px solid #cccccc;
    height: 350px ;
    width: 450px;
    margin: 40px auto;
    background: url(img/pexels-pixabay-221024.jpg);
    border-radius: 10px;
    background-size: cover;

}
.wrapper3 .button1{
    text-align: center;
    padding: 20px 60px ;
    background: rgba(139, 166, 201, 0.796);
    text-decoration: none;
    font-size: 15pt;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.wrapper3 .button{
    padding: 30px 0;
    
}
.button a{
    border-radius: 40px;

    transition: 0.2s ;
}
.button a:hover{
    color: #000;
    background: #fff;
    border: 1px solid  rgba(139, 166, 201, 0.796);
}
.wrapper4{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    justify-content: space-around;
}
.boxer1{
    background: url(img/box1.jpg);
    background-size: cover;
}
.boxer2{
    background: url(img/box2.jpg);
    background-size: cover;
    background-position:center;
}
.boxer3{
    background: url(img/box3.jpg);
    background-size: cover;
}
.boxer4{
    background: url(img/box4.jpg);
    background-size: cover;
}
.boxer5{
    background: url(img/box5.jpg);
    background-size: cover;
}
.boxer6{
    background: url(img/box6.jpg);
    background-size: cover;
}

.box1-3:hover .text1,.box1-3:hover .text2-3{
    opacity: 1;
    transform: translateY(0px);
    
}
.box1-3:hover{
    background: rgba(139, 166, 201, 0.796);
}
.box1-3:hover .box__button {
    opacity: 0;
}
.text1{
    margin-top: 20px;
    padding: 20px;
    opacity: 0;
    transform: translateY(-2000px);
    font-weight: 900;
    color: white;
    font-size: 15pt;
    transition: .9s;
}
.text2-3{
    opacity: 1;
    color: white;
    font-weight: 900;
    transform: translateY(-2000px);
    transition: .5s;
    padding: 10px;
}
.box1-3{
    overflow: hidden;
    min-width: 300px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s;
    margin: 20px auto;
    border-radius: 10px;
}


.text2-3 li{
    list-style:upper-alpha inside;
    margin: 20px;

}
.box__button{
    width: 100%;
    background: rgba(139, 166, 201, 0.796);
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
}
.box1-3 a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

/* КОНЕЦ "РЕШЕНИЙ" */

.show_all{
    float: right;
    font-size: 15pt;
    vertical-align: middle;
    margin: 40px auto;
    margin-right: 150px;
}
.show_all a{
    color: #fff;
    text-decoration: none;
    padding:  20px 30px;
    background:rgba(139, 166, 201, 0.796) ;
    border-radius: 10px;
    transition: 0.2s;
}
.show_all a:hover{
    background: rgba(255, 255, 255, 0.521);
    color: rgb(0, 0, 0);
    border: 1px solid rgba(176, 58, 182, 0.548);
    transform: scale(1.01);
}
/* НАЧАЛО 4 КОНТЕЙНЕРОВ */

.container_3{
    width: 100%;
    display: flex;
}
.box_container{
    width: 80%;
    margin: 20px auto;
    padding-top: 30px;
}
.text_3{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.tx1 p{
    font-size: 4.5vh;
    font-weight: bold;
    padding: 20px;
    background: rgba(139, 166, 201, 0.796);
    border-radius: 10px;
}
.tx1 a:hover{
    background: rgba(255, 255, 255, 0.521);
    color: rgb(0, 0, 0);
    border: 1px solid rgba(176, 58, 182, 0.548);
}
.tx1 a{
    font-size: 2.5vh;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 15pt;
    text-decoration: none;
    margin-left: 50px;
    background: rgba(139, 166, 201, 0.796);
    border-radius: 10px;
    transition: .2s;
}
.tx1{
    display: flex;
    width: 100%;
    color: #fff;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
}
.flex_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}
.main_container--products{
    width: 350px;
    overflow: hidden;
    min-height: 300px;
    background: url(img/cam1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    align-self: start;
}
.main_container--products:hover .main_container--discrition{
    transform:translateY(0px);

}
.main_container--products:hover .main_container--price{
    background: #00a2ff;
    
    
}
.main_container--products:hover .container--price__watch{
    text-decoration: underline;
}
.main_container--discrition{
    padding: 20px;
    color: white;
    background: rgba(139, 166, 201, 0.796);
    transform:translateY(400px);
    transition: .3s;
}
.discription__text-first{
    margin-bottom: 20px;
}
.discription__text-paragraph{
    font-size: 15pt;
}
.main_container--price{
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgba(139, 166, 201, 0.796);
    transition: .3s;
}
.container__price--main--price{
    font-size: 15pt;
    color: white;

}
.container--price__watch{
    text-decoration: none;
    color: white;
    font-size: 15pt;
    margin-top: 10px;
}
/* .section_1{
    overflow: hidden;
    margin: 0 20px;
    padding: 0;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s;
}

.section_box{
    background: url(img/cams2/cam1-1.png);
    background-size: contain;
    width: 400px;
    height: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.section_box h2{
    font-size: 2.5vh;
}
.p1_class{
    font-size: 2.2vh;
}
.p_class{
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-size: 2.8vh;
    font-weight: bold;
}
.section_box a{
    width: 70%;
    text-align: center;
    padding: 8px 20px;
    margin: 20px auto;
    border-radius: 30px;
    background: rgba(176, 58, 182, 0.761);
    font-size: 2.3vh;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}
.section_box a:hover{
    transform: scale(1.1);
    background: #c0d1db;
    color: rgb(0, 0, 0);
}
.section_1:hover{
    transform: scale(1.03);
    border: 1px solid rgba(176, 58, 182, 0.761);
    border-radius: 20px;
} */


/* КОНЕЦ 4 КОНТЕЙНЕРОВ */
/* НАЧАЛО НОМЕРА */

.phone_contact{
    width: 100%;
    display: flex;
    background: rgba(139, 166, 201, 0.796);
    align-items: center;
    padding: 20px 0;
    margin-bottom: 100px;
}
.phone1{
    width: 40%;
    text-align: center;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.phone1 h2, .phone1 h3{
    font-size: 25pt;
    color: white;
}
.table2_phone{
    color: #fff;
}

.phone2{
    width: 70%;
    font-size: 15pt;
    text-align: center;
}
.input_phones{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form__input__number{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
}
.form__input__number input{
    height: 30px;
    width: 30%;
    height: 40px ;
    border-radius: 10px;
    border: transparent;
    color: #88d1fc;
    font-size: 15pt;
    background: white;
}
.form__input__number input::placeholder{
    color: #88d1fca2;
}
.form__input__number input:focus, :active{
    outline: none;
    outline-offset: 0;
}
.input2{
    cursor: pointer;
    transition: .2s background, .2s color,  .5s border ;
}
.input2:hover{
    background: rgba(139, 166, 201, 0.796);
    color: #fff;
    border: 1px solid #fff;
}


.input1{
    padding-left: 20px;
    padding-bottom: 5px;
}
.xphone input{
    transform: scale(1.4);
    margin: 20px;
    cursor: pointer;
}
.xphone{
    color: #fff;
}
/* КОНЕЦ НОМЕРА */
/* НАЧАЛО КАК МЫ РАБОТАЕМ */

.wrapper_work{
    margin-bottom: 100px;
    
}
.wpw1 h2{
    text-align: center;
    background: rgba(139, 166, 201, 0.796);
    color: white;
    font-size: 20pt;
    font-weight: 200;
    margin: 20px auto;
    padding: 20px;
}
.wpw2{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 40px auto;
    align-items: flex-start;
}
.wpw2 img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.wpw2_box{
    text-align: center;
    width: 200px;
}
.wpw2_box p{
    margin: 20px auto;
    padding: 10px;
    font-size: 13pt;
    color: white;
    background: rgba(139, 166, 201, 0.796);
    border-radius: 10px;
}

/* КОНЕЦ КАК МЫ РАБОТАЕМ */
/* НАЧАЛО ПОПУЛЯРНЫХ ТОВАРОВ */

.box_container_4{
    width: 80%;
    margin: 0 auto;
}
.tx4{
    padding: 20px;
    margin: 30px auto;
    margin-bottom: 100px;
    text-align: center;
    background: rgba(139, 166, 201, 0.796);

    border-radius: 10px;
}
.tx4 p{
    color: white;
    font-size: 20pt;
}
/* КОНЕЦ ПОПУЛЯРНЫХ ТОВАРОВ */
/* НАЧАЛО НОВОСТЕЙ */

.wrapper_news {
    display:flex;
    width:100%;
    background: rgba(139, 166, 201, 0.796);
    margin-bottom: 20px;
    padding-bottom: 50px;
}
.news_box1 {
    width:37%;
    border-right:3px solid #fff;
}
.box_nn {
    width:75%;
    float:right;
    margin:10px 0;
    margin-right:30px;
}
.box_nn h2{
    font-size:3.5vh;
    border-radius: 10px ;
    color: #fff;
    background: rgba(139, 166, 201, 0.796);
    padding: 5px 5px;
}
.box_nn p:nth-child(2n){
    font-size:1.5vh;
    color: #fff;
}
.box_nn p:nth-child(3n) {
    font-size:2.3vh;
    color: #fff;
    margin-top: 20px;
}
.box_nn a{
    font-size: 2.6vh;
    text-align:right;
    float:right;
    color:#fff;
    text-decoration: none;
    padding: 7px 20px ;
    border-radius: 10px;
    transition: 0.2s;
    margin-top: 20px;
    background: rgba(139, 166, 201, 0.796);
    border: 1px solid transparent;
}
.box_nn a:hover{
    background:#fff ;
    color: #000;
    border: 1px solid rgba(139, 166, 201, 0.796);
}
.box_h2 h2{
    font-size: 5vh;
    border-radius: 10px ;
    padding: 5px 10px;
}
.news_box3{
    width: 63%;
    padding:20px;
}
.news_box3 h2{
    font-size:5vh;
    margin-bottom: 50px;
    border-radius: 10px ;
    padding: 5px 10px;
    background: rgba(139, 166, 201, 0.796);
    color: #fff;
}

/*КОПИРОВАННЫЙ БОКС*/

.box_container_5 {
    width: 90%;
    margin: 20px auto;
    padding-top: 0px;
    padding:0 10px;
}
.section_5 {
    overflow: hidden;
    padding: 0 10px;
    width: 320px;
    text-align: center;
}
.section_5 img {
    background: #F0F0F0;
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.section_box_5 {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}
.section_box_5 h2 {
    font-size: 2.5vh;
    text-align:left;
    margin: 10px 0;
}
.p_class_5 {
    padding: 5px;
    font-size: 2.2vh;
    text-align:left;
    color: #fff;
    font-weight: 300;
}
.flex_container_5 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 88%;
}
/*КОНЕЦ НОВОСТЕЙ*/
/*НАЧАЛО ЗАКАЖИТЕ ПО НОМЕРУ*/
.wp5{
    text-align: center;
    color: #000;
}
/* КОНЕЦ ЗАКАЖИТЕ ПО НОМЕРУ */

/*начало о компании*/


.company_container{
    width: 88%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    border-top: 2px solid #fff;
}

.company_box{
    margin: 20px 20px;
}
.company_box h2{
    padding: 10px 0;
    font-size: 4vh;
    text-align: center;
    font-weight: 300;
}

.company_box li{
    font-size: 2.3vh;
    color: black;
    list-style: none;
    margin: 20px auto;

}
.company_box a{
    color: black;
    margin: 20px auto;
    text-decoration: none;
    transition: background 0.2s, padding 0.2s, border-radius 0.2s;
    padding: 5px 15px;
    padding-bottom: 7px;
}
.company_box a:hover{
    background: rgba(166, 179, 255, 0.849);
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
    padding-bottom: 7px;
    
}
/*конец о компании */

footer {
    background: rgba(139, 166, 201, 0.796);
    border-radius: 10px 10px 0px 0px;
    padding: 35px 90px;
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0px auto;
    margin-top: 50px;
    font-size: 2.5vh;
    color: rgb(255, 255, 255);
    margin-bottom: -20px;
}
.end_2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
@media (max-width: 1600px){
    .wrapper1{
        display: none;
    }
    header, .menu, .wrapper2-2{
        width: 100%;
    }
    .back1{
        display: none;
    }
    .box1-2{
        margin: 0 auto;
        width: 100%;
    }
    .wrapper3{
        display: none;
    }
    .phone2{
        width: 90%;
    }
    .phone1{
        font-size: 2vh;
    }
    .phone1 h3{
        font-size: 5vh;
    }
    .wrapper_work,.company_container, .wpw2, .flex_container_4, .box_container,.container_3,.wrapper4{
        width: 100%;
    }
}
@media (max-width: 1400px){
    .wrapper_news{
        display: none;
    }
    .wrapper4{
        flex-wrap: wrap;
    }
    .flex_container, .flex_container_4{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
   .section_4, .section_1{
       margin: 20px ;
   }
   .company_box h2{
       font-size: 3vh;
   }
   .company_box ul li{
        font-size: 2vh;
        padding: 0;
        margin: 0;
    }
    .company_box{
        padding: 0 ;
    }
    .company_container,.wpw2{
        flex-wrap: wrap;
    }
}
@media (max-width: 1000px){
    .menu{
        width: 100%;
    }

}